pandas>=2.3.3
nlopt>=2.7.1
pcse>=6.0.9
plotly>=5.6.0
numpy>=2.3.4
pyyaml>=6.0.3
tqdm>=4.67.1
requests>=2.32.5
xarray>=2025.10.1
salib>=1.5.2
sidrapy>=0.1.4
faostat>=1.1.2
sqlalchemy>=1.4.54
geopandas>=1.1.1
earthaccess>=0.15.1
matplotlib>=3.10.7
matplotlib_scalebar >= 0.9.0
openpyxl>=3.1.5
shapely>=2.1.1
geopy>=2.4.1
seaborn>=0.13.2
scikit-learn>=1.7.2
scipy>=1.16.2
cdsapi>=0.7.7
torch>=2.9.1
netCDF4>=1.6.0
dask>=2024.1.0
zarr >= 3.2.0
pyhdf >= 0.11.6
gcsfs >= 2026.4.0
boto3 >= 1.42.97
botocore >= 1.42.97
geodatasets >= 2026.5.0
rasterio >= 1.5.0
rioxarray >= 0.22.0
h5netcdf >= 1.8.1
h5py >= 3.16.0